<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <h1>Rejestracja</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderowanie formularza w formie akapitów -->
        <button type="submit">Zarejestruj się</button>
    </form>

    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
